# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Node
node_modules/
npm-debug.log*

# Output builds
out.html
out.pdf
booklet.html
booklet.pdf
*.booklet.json
